#wall .tag-1 {
    display: none;
  }
  #wall .tag-1 + #tag-2 {
    display: none;
  }
  
  div#wall div#tag-2 + #tag-3.slick {
    display: none;
  }
  
  #wall .parent #tag-4 {
    display: none;
  }
  
  #wall .parent + .parent #tag-5.slick {
    display: none;
  }
  
  #wall .parent + .parent + .parent div:last-child div#tag-6 {
    display: none;
  }
  
  body div#wall div.parent + .parent + .parent + .parent div > #tag-7.slick {
    display: none;
  }